@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --blue-shade: #49A6EA;
    --black-shade: #102B42;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    padding: 2rem;
    background-color: #102B42;
    color: var(--blue-shade);
    text-align: center;
}

.head{
    font-size: 2.5rem;
    margin-top: 3rem;
    color: var(--black-shade);
    letter-spacing: 3px;
    text-align: center;
}

.head{
    position: relative;
    height: 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.5;
}

.head::after{
    content: "";
    height: 4px;
    background-color: var(--blue-shade);
    display: block;
    margin: auto;
    max-width: 100px;
}
.img-container{
    margin-top: 4rem;
    width: 150px;
    position: relative;
}

.img-container::after{
    content: ':)';
    display: block;
    background-color: var(--blue-shade);
    position: absolute;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    left: 3px;

}
.profile-img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px -2px 0px 2px var(--blue-shade);
}

.name{
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--black-shade);
}
.position{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--blue-shade);
}

.container > p{
    font-size: 0.9rem;
    margin-top: 2rem;
    color: #102B42;
}

.review-btn{
    margin: 1.5rem 0px ;
}

.btn{
    outline: none;
    border: none;
    color: #49A6EA;
    font-size: 2rem;
    margin: 0 15px;
    transition: all .6s ease;
}

.btn:hover{
    cursor: pointer;
    font-weight: bold;
}


@media screen and (max-width: 780px) {
    .container{
        width: 95%;
    }
}



